

.logo{
	height: 10vh;
	width: 6%;
	position: relative;
}
nav ul li{
	list-style-type: none;
}
/*
.my-jumbo{
	position: absolute;
	top:20vh;
	left: 10%;
	z-index: 999;
	background: none;
}

.my-jumbo h1{
	color: white;
	text-decoration:none;
}
.my-jumbo h1 .my-mark{
	color: white;
	background: orange;
	border-radius:10px;
	line-height: 15px !important;
	font-size: 50px;
	padding: 10px;
}
*/
.main1{
	margin:4em;
	margin-left: 12em;
}
.main1 h1{
	font-size: 45px;
}
.form-sec{
	min-height: 40vh;
	padding-left: 5%;
}
.adv{
	float: left;
	width: 18rem;
}
.my-search{
	background: black;
	padding:2em;
	position: absolute;
	right: 5%;
	top: 90vh;
	border-radius: 2%;
	z-index:3;
}
.reg-fom-btm select{
	background: black;
	color: white;
}
.reg-fom-btm input{
	width: 100%;
	height: 50px;
	color: orange;
	border: 0;
	border-bottom:2px orange solid;
	background:Black;
	
}
@media (max-width:1000px){
	.my-jumbo{
		display: none;
	}	
	.my-search{
		margin: auto;
		position: inherit;
	}
}
.my-card .card{
	padding: 4% 2%;
	height: 18em;
	background: silver;
	
}
.my-card i{
	font-size: 50px;
	color: darkorange;
	margin-top: 30px;
}
.my-card:hover .card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 19em;
	
}
.choose{
	background: url(../img/rsz_people-gathering-in-concert-during-night-time-3696395.jpg) no-repeat;background-size:100% 700px;
}
.choose_bottom_top{
	background: white;
	padding: 10%;
	height: 250px;
	border-radius: 2%;
}
.choose_bottom_top i{
	font-size: 25px;
	color: orange;
}
.choose_top{
	margin-top: 80px;
}
.img_circle{
	border-radius: 50%;
}
.ev-img{
	border-radius: 5%;
}
.adv-text h4{
	font-size: 30px;
	color: orange;
}
footer{
	background: black;
}
.susc1{
	width:350px;
	height: 45px;
}
.susc2{
	width:200px;
	height: 45px;
}

#fb{
	font-size:50px;

}

#inst{
	position:relative;
	top:-12px;
}


@media(max-width:500px){
	.dup-pc{
		display: none;
	}
	.logo{
		width: 15%;
	}
	.adv{
		float: none;
		margin:auto;
		width: 20em;
	}
}
@media(min-width:500px){
	.dup-mobile{
		display: none;
	}
	
}


/*-------------------------------------------------*/
.accordion-section h2 {
    font-family: Arial, Verdana;
    font-weight: 600;
    font-size: 2.0rem;
    color:orange;
	text-transform: uppercase;
	text-align: center;
}
.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: italic;
	font-size: 1.2rem;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 3rem;
    content: "\f106";
    color: #1f7de2;
    float: right;
	margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: 1.0rem;
}